:global{
  .am-search{
    height: 50px !important;
  }
  .am-list-header{
    display: none;
  }
  .am-progress-outer{
    display: inline-block !important;
    width: 150px;
    margin-left: 12px;
    border-radius: 5px;
  }
  .am-progress-bar{
    border: 2px solid #5e69c7 !important;
  }
}