// 局部样式 等同于不加:local
:local{
  .myHead {
    padding: 20px 0;
    width: 100%;
    // background: url('./../../static/media/VCG41N637110064.jpg') no-repeat 0px -70px;
    // background: url('./../../static/media/VCG41N758556621.jpg') no-repeat 0px -70px;
    background: url('./../../static/media/VCG41104245191.jpg') no-repeat 0px -30px;
    background-size: cover;
    color: #ffffff;
    .myHeadBox {
      text-align: left;
      margin-left: 15px;
      &>span{
        display: inline-block;
        vertical-align: middle;
      }
      .avator {
        width: 70px;
        height: 70px; 
        line-height: 70px; 
        border-radius: 40px;
        background: #ffffff;
        margin-right: 20px;
        text-align: center;
        color: #000000;
      }
      .brief{
        h1{
          font-size: 20px;
          color: #ffffff;
        }
        text-align: left;
      }
    }
    .Numbers {
      margin-top: 20px;
      &>span{
        display: inline-block;
        vertical-align: middle;
        margin: 0 28px;
      }
    }
  } 
}
// 全局样式
:global{
  .am-accordion .am-accordion-item .am-accordion-header i{
    transform: rotate(0deg) !important;
  }
  .am-accordion .am-accordion-item .am-accordion-header[aria-expanded~="true"] i{
    transform: rotate(90deg) !important;
  }
  .am-accordion .am-accordion-item .am-accordion-header{
    text-align: left !important;
  }
  .am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box{
    padding: 10px;
  }
}